* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
}

@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-Regular.ttf");
}

p span {
  display: block;
}

.page-1 {
  width: 100vw;
  background-color: rgba(228, 236, 255, 1);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.nav {
  display: none;
}

@media only screen and (min-width: 992px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
  }
}

.nav-1,
.nav-2,
.nav-3,
.nav-4 {
  margin: 10px;
  padding: 10px;
}

.nav-5 {
  margin: 5px;
}

.own-logo {
  margin-top: 20px;
}

.button-page-1 {
  background-color: #293fcc;
  padding: 15px;
  width: 165px;
  height: 52px;
  border-radius: 6px;
  color: white;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  max-width: 1900px;
  min-width: 450px;
}

.content-left {
  top: 600px;
  left: 50px;
  width: 450px;
  height: 600px;
}

.group-5742 {
  position: relative;
  margin-top: 20px;
}

.satisfied-customer {
  position: relative;
  margin-top: 50px;
  font-size: 44px;
  font-weight: 600;
  line-height: 70.4px;
  color: #090f4e;
  display: inline-block;
}

.backend-experience {
  position: relative;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #63657e;
}

.present {
  position: absolute;
  margin-top: 50px;
}

.group-111 {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 992px) {
  .present {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .group-111 {
    margin-top: 10px;
    margin-left: 20px;
  }
}

.content-right {
  top: 600px;
  margin-left: 80px;
  margin-right: 20px;
  width: 450px;
  height: 600px;
}

.back {
  position: absolute;
  width: 377px;
  height: 377px;
  margin-top: 120px;
  margin-left: 20px;
  border-radius: 30px 30px 30px 30px;
  background-color: #b9ccfe;
}

.img-3D {
  position: relative;
  margin-top: -150px;
  margin-left: 60px;
}

.notification {
  position: relative;
  margin-top: -80px;
  margin-left: -130px;
}

.group-109 {
  position: relative;
  margin-top: -300px;
  margin-right: -220px;
  margin-left: 280px;
}

.designer-card {
  position: relative;
  margin-top: -400px;
  margin-left: -100px;
}

.group-5675 {
  position: absolute;
  margin-top: -150px;
  margin-left: 20px;
}

.great-designer {
  position: absolute;
  margin-top: -110px;
  margin-left: 60px;
}

.group-5674 {
  position: absolute;
  margin-top: -90px;
  margin-left: 70px;
}


.footer {
  margin-top: 50px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.page-2 {
  width: 100vw;
  padding: 5px;
  background-color: rgba(228, 236, 255, 1);
}

.header-2-1 {
  padding-top: 150px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  color: #090f4e;
}

.header-2-2 {
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #63657e;
}

.solution-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1900px;
  min-width: 450px;
  gap: 50px;
}

.grow-your-business-card-group-901 {
  margin-top: 50px;
  width: 350px;
  height: 390px;
  top: 286.98px;
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
}

.rec-gr-901 {
  position: relative;
  left: 15px;
  top: 10px;
}
.frame-gr-901 {
  position: relative;
  left: 30px;
  bottom: 70px;
}
.grow-header {
  padding: 15px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #090f4e;
}
.grow-detail {
  padding: 15px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.get-started {
  padding-top: 20px;
  padding-left: 15px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgba(40, 45, 100, 0.55);
}

.drive-more-sales-card-group-902 {
  margin-top: 50px;
  width: 350px;
  height: 390px;
  top: 286.98px;
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
}

.rec-gr-902 {
  position: relative;
  left: 15px;
  top: 10px;
}
.frame-gr-902 {
  position: relative;
  left: 45px;
  bottom: 70px;
}
.drive-header {
  padding: 15px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #090f4e;
}
.drive-detail {
  padding: 15px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.handled-by-expert-card-group-903 {
  margin-top: 50px;
  width: 350px;
  height: 390px;
  top: 286.98px;
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
}

.rec-gr-903 {
  position: relative;
  left: 15px;
  top: 10px;
}
.frame-gr-903 {
  position: relative;
  left: 45px;
  bottom: 70px;
}
.handled-header {
  padding: 15px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #090f4e;
}
.handled-detail {
  padding: 15px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
