* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
}

@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-Regular.ttf");
}

p span {
  display: block;
}

.page-1 {
  width: 100vw;
  padding-left: 30px;
  background-color: rgba(228, 236, 255, 1);
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.nav {
  display: none;
}

.own-logo {
  margin-top: 20px;
}

.line-1 {
  border-top: 1px solid gray;
}

.mobile-nav-1 {
  margin-top: 20px;
}

@media only screen and (min-width: 992px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
  }

  .nav-1,
  .nav-2,
  .nav-3,
  .nav-4 {
    margin: 10px;
    padding: 10px;
  }

  .line-1 {
    display: none;
  }

  .mobile-nav-1 {
    display: none;
  }
}

.button-page-1 {
  background-color: #293fcc;
  padding: 15px;
  width: 165px;
  height: 52px;
  border-radius: 6px;
  color: white;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  gap: 50px;
}
@media only screen and (min-width: 992px) {
  .content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-bottom: 100px;
  }
}

.content-left {
  padding-left: 20px;
}

.group-5742 {
  margin-top: 30px;
}

.satisfied-customer {
  margin-top: 50px;
  font-size: 44px;
  font-weight: 600;
  line-height: 70.4px;
  color: #090f4e;
  display: inline-block;
}

.backend-experience {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #63657e;
}

.present {
  margin-top: 50px;
}

.group-111 {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 992px) {
  .present {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .group-111 {
    margin-top: 10px;
    margin-left: 20px;
  }
}

.content-right {
  width: 377px;
  height: 377px;
  margin-top: 120px;
  margin-left: 80px;
  border-radius: 30px 30px 30px 30px;
  background-color: #b9ccfe;
}

.img-3D {
  position: relative;
  margin-top: -150px;
  margin-left: 60px;
}

.notification {
  position: relative;
  margin-top: -80px;
  margin-left: -130px;
}

.group-109 {
  position: relative;
  margin-top: -300px;
  margin-right: -200px;
  margin-left: 250px;
}

.designer-card {
  position: relative;
  margin-top: -400px;
  margin-left: -100px;
}

.group-5675 {
  position: absolute;
  margin-top: -150px;
  margin-left: 20px;
}

.great-designer {
  position: absolute;
  margin-top: -110px;
  margin-left: 60px;
}

.group-5674 {
  position: absolute;
  margin-top: -90px;
  margin-left: 70px;
}

.footer {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.page-2 {
  width: 100vw;
  padding-left: 20px;
  padding-bottom: 100px;
  padding-top: 5px;
  background-color: rgba(228, 236, 255, 1);
}

.header-2-1 {
  padding-top: 150px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  color: #090f4e;
}

.header-2-2 {
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #63657e;
}

.solution-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1900px;
  min-width: 450px;
  gap: 50px;
}

.grow-your-business-card-group-901 {
  margin-top: 50px;
  width: 350px;
  height: 390px;
  top: 286.98px;
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
}

.rec-gr-901 {
  position: relative;
  left: 15px;
  top: 10px;
}
.frame-gr-901 {
  position: relative;
  left: 30px;
  bottom: 70px;
}
.grow-header {
  padding-top: 10px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #090f4e;
}
.grow-detail {
  padding-top: 28px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.get-started {
  padding-top: 20px;
  padding-left: 15px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgba(40, 45, 100, 0.55);
}

.drive-more-sales-card-group-902 {
  margin-top: 50px;
  width: 350px;
  height: 390px;
  top: 286.98px;
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
}

.rec-gr-902 {
  position: relative;
  left: 15px;
  top: 10px;
}
.frame-gr-902 {
  position: relative;
  left: 45px;
  bottom: 70px;
}
.drive-header {
  padding: 15px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #090f4e;
}
.drive-detail {
  padding: 15px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.handled-by-expert-card-group-903 {
  margin-top: 50px;
  width: 350px;
  height: 390px;
  top: 286.98px;
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
}

.rec-gr-903 {
  position: relative;
  left: 15px;
  top: 10px;
}
.frame-gr-903 {
  position: relative;
  left: 45px;
  bottom: 70px;
}
.handled-header {
  padding: 15px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #090f4e;
}
.handled-detail {
  padding: 15px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.page-3 {
  padding-left: 20px;
  padding-top: 65px;
  width: 100vw;
  background-color: #f0f4ff;
}

.header-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.header-3-1 {
  width: 192px;
  height: 40px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e9edff;
  padding-top: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #293fcc;
}

.header-3-2 {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  color: #090f4e;
  text-align: center;
}

.header-3-3 {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #090f4e;
  text-align: center;
}

.content-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  padding-right: 50px;
}

.content-3-1 {
  position: absolute;
  padding-left: 50px;
  padding-right: -30px;
  margin-top: 50px;
  margin-left: 60px;
  margin-right: -20px;
  width: 450px;
}

.content-3-2 {
  position: absolute;
  margin-top: -150px;
  margin-left: -110px;
  width: 150px;
  height: 150px;
}

@media only screen and (min-width: 992px) {
  .content-3-1 {
    margin-top: 50px;
    margin-left: 180px;
    width: 1200px;
  }

  .content-3-2 {
    position: absolute;
    margin-top: -300px;
    margin-left: -200px;
    width: 500px;
  }
}

.page-4 {
  padding-left: 20px;
  padding-top: 65px;
  padding-bottom: 100px;
  width: 100vw;
}

.card-4 {
  width: 600px;
  height: 150px;
  margin-top: 65px;
  margin-left: 100px;
  background-color: #ebf0f4;
  flex-wrap: wrap;
}

.header-4 {
  display: flex;
  flex-wrap: wrap;
}

.element-4 {
  position: absolute;
}

.quote-left {
  position: absolute;
  margin-top: 40px;
  margin-left: 35px;
}

.header-4-text-box {
  position: absolute;
  margin-top: 30px;
  margin-left: 80px;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #090f4e;
}

.content-4-card {
  width: 600px;
  height: auto;
  background-color: #ebf0f4;
  padding-top: 30px;
  margin-left: 100px;
  padding-left: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.line-hr {
  border-top: 5px solid rgba(128, 128, 128, 0.066);
  margin-top: 50px;
}

@media only screen and (min-width: 992px) {
  .line-hr {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .content-4-card {
    width: 1000px;
    height: auto;
    background-color: #ebf0f4;
    padding-top: 30px;
    margin-left: 100px;
    padding-left: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .card-4 {
    width: 1000px;
  }

  .line-vl {
    border-left: 5px solid rgba(128, 128, 128, 0.066);
    height: 400px;
    margin-top: 50px;
  }
}

.content-4-left {
  padding-top: 50px;
}

.content-4-1-left {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.1599999964237213px;
  text-align: left;
  color: #090f4e;
}

.content-4-2-left {
  margin-top: 40px;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #5a7184;
}

.testimonial-1 {
  margin-top: 70px;
}

.content-4-right {
  padding-top: 25px;
}

.content-4-1-right {
  margin-top: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.1599999964237213px;
  text-align: left;
  color: #090f4e;
}

.content-4-2-right {
  margin-top: 40px;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #5a7184;
}

.testimonial-2 {
  margin-top: 70px;
}

.page-5 {
  padding-top: 65px;
  padding-bottom: 100px;
  width: 100vw;
  background-color: rgba(240, 244, 255, 0.46);
}

.header-5-1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 73px;
  text-align: center;
  color: #090f4e;
}

.header-5-2 {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #63657e;
}

.header-5-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-top: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #63657e;
}

.content-5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content-5-1 {
  margin-top: 60px;
  margin-bottom: 80px;
}

.content-5-2 {
  margin-top: 35px;
  margin-bottom: 80px;
}

.content-5-3 {
  margin-top: 60px;
  margin-bottom: 80px;
}

.button-5-1-bg {
  position: absolute;
  background-color: #ffffff;
  width: 350px;
  height: 100px;
  border-radius: 0px 0px 15px 15px;
}

.button-5-2-bg {
  position: absolute;
  background-color: #ffffff;
  width: 350px;
  height: 100px;
  margin-left: 47px;
  border-radius: 0px 0px 15px 15px;
}

.button-5-3-bg {
  position: absolute;
  background-color: #ffffff;
  width: 350px;
  height: 100px;
  border-radius: 0px 0px 15px 15px;
}

.button-5-1 {
  width: 150;
  height: 66px;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(130, 213, 244);
  padding: 20px 40px 20px 40px;
  margin-left: 80px;
  color: blue;
}

.button-5-2 {
  width: 150;
  height: 66px;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(0, 47, 255);
  padding: 20px 20px 20px 20px;
  margin-left: 70px;
  color: #ffffff;
}

.button-5-3 {
  width: 150;
  height: 66px;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(113, 198, 241);
  padding: 20px 20px 20px 20px;
  margin-left: 70px;
  color: blue;
}

.page-6 {
  padding-top: 65px;
  padding-bottom: 100px;
  width: 100vw;
}

.bg-6 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 80px;
  width: 500px;
  height: 360px;
  border-radius: 30px 30px 30px 30px;
  background-color: #e7f5ff;
}

.text-6 {
  text-indent: 20px;
  margin-top: 25px;
  width: 280px;
  height: 67px;
  top: 225px;
  left: 480px;
  border-radius: 50px 50px 50px 50px;
}

@media only screen and (min-width: 992px) {
  .bg-6 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 80px;
    width: 1117px;
    height: 360px;
    border-radius: 30px 30px 30px 30px;
    background-color: #e7f5ff;
  }

  .text-6 {
    text-indent: 20px;
    margin-top: 25px;
    width: 480px;
    height: 67px;
    top: 225px;
    left: 480px;
    border-radius: 50px 50px 50px 50px;
  }

  .enter-6 {
    position: absolute;
    margin-left: -60px;
    margin-top: 35px;
  }
}

.header-6-1 {
  padding-top: 50px;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  color: #090f4e;
}

.header-6-2 {
  text-align: center;
  margin-top: 30px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #63657e;
}

.enter-6 {
  position: absolute;
  margin-left: -60px;
  margin-top: 35px;
}
